# TEST REPORT OUTLINE

## SECTION 1: OVERVIEW OF TEST RESULTS

### Overview

(Paragraph)
* The test cases provided a sound idea of how the testing was ran on Apex. We can see that basic functionality and simple UI was tested well, and yields satisfying results. Allows for a lot of customization with controls and settings as well which lends to great enjoyment of the game. The crossplay aspect was tested as well and really helps understand that the playerbase is an important aspect for the developers. Crossplay works very well with all systems and is seamless with the usage of invitations. Interactivity in-game was tested as well and highlights how much was put into the items in game and how they handle with the player as well as showing the functionality of every in-game item and weapon. Test cases were ran efficiently and with a tight-knit group, the dynamic of testing helped expedite the testing process.

#### Number of Test performed
The number of test performed in total were 8. We focused mostly on the game's functionality and core mechanics such as the player's ability to react and
interact with the world around them as well as items. 

#### Number of Defects

The game passed almost every test case with a perfect score except for one. It came as a small shock considering it wasn't an original test we had planned.
The test was simply navigating the application and hovering and clicking buttons. When on the playstation, pressing option leads you to a settings page.
When in that page, you can click on settings/options. Below there are three GUI buttons which shoot off a sound when clicked (like a working button would)
and changes color when hovered over. This implied to us that the buttons should have worked and our suspicions were confirmed when we tested on a separate console.
While it wasnt's a fatal defect to the game, it could be an easy fix by making sure the button fires off correctly and leads to the correct scene or page. Had there not been
graphics for the inputs to use rather than pressing UI buttons, the usability would have lowered.

#### Requirements Status

(Paragraph)
* According to your test plan requirements did your test case runs meet your listed requirements.

### Test Environment

(Paragraphs)

#### Hardware Configuration

(Paragraph)

### Recommendation

(Paragraphs)
* Apex could work on the settings menu with the little details within. For example, the toggle scope setting was not seemingly doing anything to alter the toggling of scopes. The general aspects of the menu do work well, but the controls section could use more testing and possible reworks to make sure the game is showing off settings in the best possible way to new players. Weapons selection menus do shove a lot of information that is not covered initially and requires some understanding of first person shooters to understand. Perhaps the tutorial could include more about the specific aspects of each weapon to mitigate the confusion.


## SECTION 2: DETAILED TEST RESULTS

### List of Tests

| Name of Test | Status – Pass/Fail | Tester | Test ID | Associated Requirement |
|---|---|---|---|---|
| | | | | |

## SECTION 3: SUMMARY OF DEFECTS

### List of Defects found or fixed

| Defect ID | Description | Severity | Associated Test ID or Requirement |
|---|---|---|---|
| | | | |
