# TEST REPORT OUTLINE

## SECTION 1: OVERVIEW OF TEST RESULTS

### Overview

(Paragraph)
* High level overall view of the test case results. Think upper management wants to know how the test plan and test cases ran.

#### Number of Test performed
The number of test performed in total were 8. We focused mostly on the game's functionality and core mechanics such as the player's ability to react and
interact with the world around them as well as items. 

#### Number of Defects

The game passed almost every test case with a perfect score except for one. It came as a small shock considering it wasn't an original test we had planned.
The test was simply navigating the application and hovering and clicking buttons. When on the playstation, pressing option leads you to a settings page.
When in that page, you can click on settings/options. Below there are three GUI buttons which shoot off a sound when clicked (like a working button would)
and changes color when hovered over. This implied to us that the buttons should have worked and our suspicions were confirmed when we tested on a separate console.
While it wasnt's a fatal defect to the game, it could be an easy fix by making sure the button fires off correctly and leads to the correct scene or page. Had there not been
graphics for the inputs to use rather than pressing UI buttons, the usability would have lowered.

#### Requirements Status

(Paragraph)
* According to your test plan requirements did your test case runs meet your listed requirements.

### Test Environment

(Paragraphs)

#### Hardware Configuration

(Paragraph)

### Recommendation

(Paragraphs)
* Very technical summary of the results and where things can be improved or what course of action the game should take as a result of the testing.


## SECTION 2: DETAILED TEST RESULTS

### List of Tests

| Name of Test | Status – Pass/Fail | Tester | Test ID | Associated Requirement |
|---|---|---|---|---|
| | | | | |

## SECTION 3: SUMMARY OF DEFECTS

### List of Defects found or fixed

| Defect ID | Description | Severity | Associated Test ID or Requirement |
|---|---|---|---|
| | | | |
